.home-banner-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10px;
}
.home-banner-track {
    display: flex;
    width: 100%;
    transition: transform 0.3s ease-in-out;
}
.home-banner-main {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 350px;
    width: 100%;
    gap: 10px;
    background-color: var(--accent-primary);
    background-size: cover;
    background-position: center;
    flex-shrink: 0;
    user-select: none;
}
.home-banner-main h2 {
    font-size: 60px;
    text-shadow: 0 0 50px #222;
}
.home-banner-main p, .home-banner-main h2 {
    max-width: 90%;
    text-shadow: 0 0 10px #222;
}
.banner-credit {
    display: flex;
    position: absolute;
    flex-direction: row;
    bottom: 15px;
    left: 15px;
    gap: 5px;
}
.banner-credit a {
    color: #ccc;
}
.banner-credit-link {
    opacity: 0;
    transition: opacity 0.3s ease;
}
.banner-credit-link.show {
    opacity: 1;
    text-shadow: #333 2px 5px 20px;
}
.home-banner-slider {
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: center;
}
.home-banner-slider .slider-dot {
    display: block;
    width: 8px;
    height: 8px;
    background-color: var(--text-color, #333);
    border-radius: 100px;
    margin: 5px;
    transition: width 0.3s ease;
    cursor: pointer;
}
.home-banner-slider .slider-dot.active {
    width: 60px;
}

.home-bannersm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 20px 0;
    gap: 20px;
    color: #fff;
    background-color: var(--accent-primary);
    background-image: url(/assets/banners/sssdfg.webp);
    background-size: cover;
    border-radius: 10px;
    cursor: pointer;
}
.home-bannersm-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    text-shadow: 0 0 10px #000;
}
.home-bannersm-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.home-bannersm-right img {
    height: 300px;
}

.wave-container1 {
    position: absolute;
    bottom: 10px;
    width: 100%;
    height: 1500px;
    opacity: 0.5;
}
.wave-container2 {
    position: absolute;
    bottom: 10px;
    width: 100%;
    height: 1000px;
    opacity: 0.5;
}

@media screen and (max-width: 1200px) {
    .home-banner-container {
        width: 100%;
    }
    .home-banner-container, .home-bannersm {
        border-radius: 0px;
    }
}

@media screen and (max-width: 768px) {
    .home-bannersm {
        flex-direction: column;
    }
    .home-bannersm-left {
        padding: 20px;
        text-align: center;
    }
    .wave-container1, .wave-container2 {
        display: none;
    }
}