.home-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.home-banner-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 100%;
    max-width: 1200px;
    background-color: var(--accent-primary);
    border-radius: 10px;
    box-shadow: 0 5px 10px var(--accent-primary-dim);
}
.home-banner-main h2 {
    font-size: 60px;
}
.home-banner-slider {
    display: flex;
    flex-direction: row;
    padding: 10px;
}
span {
    display: block;
    width: 8px;
    height: 8px;
    background-color: var(--text-color);
    border-radius: 100px;
    margin: 5px;
}
.banimg1 {
    width: 60px;
}
.home-product-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}
.product-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 8px;
}
.product-header-title {
    display: flex;
    justify-content: center;
    background-color: var(--accent-secondary);
    padding: 10px 20px;
    border-radius: 100px;
}
.product-header-btn {
    display: flex;
    justify-content: center;
    background-color: var(--accent-secondary);
    padding: 10px;
    border-radius: 100px;
    width: 20px;
}
.product-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
    padding: 10px 0;
}
.product-buttons {
    display: flex;
    visibility: hidden;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    z-index: 4;
}
.product-buttons a {
    display: flex;
    justify-content: center;
    font-size: 18px;
    color: var(--text-color);
    background-color: var(--primary-color);
    padding: 5px;
    width: 26px;
    height: 26px;
    border: 1px solid var(--text-color);
    border-radius: 100px;
    backdrop-filter: blur(20px);
    box-shadow: 0 5px 20px var(--primary-color);
}
.product {
    display: flex;
    flex-direction: column;
}
.product-box {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 210px;
    padding: 10px;
    background-color: var(--primary-item);
    border-radius: 10px;
}
.product-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.product-top-stock {
    display: flex;
    background-color: var(--store-nostock);
    padding: 2px 5px;
    border-radius: 8px;
}
.product-top-deal {
    display: flex;
    background-color: var(--store-deal);
    padding: 2px 5px;
    border-radius: 8px;
}
.product-image {
    display: flex;
    position: absolute;
}
.product-image img {
    object-fit: cover;
    width: 180px;
    height: 180px;
}
.product-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: auto;
}
.product-bottom-colours {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.product-bottom-colours span {
    display: block;
    width: 10px;
    height: 10px;
    margin: 3px;
    outline: 1px solid var(--text-color);
}
.product-bottom-colours a {
    margin: 2px;
}
.product-bottom-price {
    font-size: 20px;
    font-weight: 600;
}
.product-title {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 5px 0;
}
.product-title h2 {
    font-size: 20px;
}
.product-title a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 16px;
}

.home-bannersm {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 20px;
    gap: 20px;
    background-color: var(--accent-primary);
    border-radius: 10px;
    box-shadow: 0 5px 10px var(--accent-primary-dim);
}
.home-bannersm-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.home-bannersm-right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.home-bannersm-right img {
    height: 300px;
}

.collection-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.product-grid-small {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 10px;
    padding: 10px;
}
.product-small {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 48%;
    box-sizing: border-box;
    background-color: var(--primary-item);
    border-radius: 10px;
    width: 100%;
    height: 100%;
}
.collection-ad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--accent-primary);
    border-radius: 10px;
}

@media screen and (max-width: 1200px) {
    .page-container {
        padding: 70px 0;
    }
    .home-banner {
        width: 100%;
    }
    .home-banner-main, .home-bannersm {
        border-radius: 0px;
    }
    .home-product-wrapper {
        max-width: 96%;
    }
    .product-row {
        flex-wrap: nowrap;
        justify-content: flex-start;
        overflow-x: auto;
        width: 100%;
    }
    .product-buttons {
        visibility: visible;
    }
}

@media screen and (max-width: 768px) {
    .home-bannersm {
        flex-direction: column;
    }
    .home-bannersm-left {
        padding: 20px;
        text-align: center;
    }
}