@import "https://www.nerdfonts.com/assets/css/webfont.css";

/* fonts */
:root {
    --flex-weight: 400;
    --flex-slnt: 0;
    --flex-wdth: 100;
    --flex-grad: 0;
    --flex-rond: 0;
}
.font-gsansflex {
    font-family: "Google Sans Flex", "NerdFontsSymbols Nerd Font", Arial, sans-serif;
    font-optical-sizing: auto;
    font-weight: var(--flex-weight);
    font-variation-settings:
        "slnt" var(--flex-slnt),
        "wdth" var(--flex-wdth),
        "GRAD" var(--flex-grad),
        "ROND" var(--flex-rond);
}
.font-hround {
    --flex-rond: 600;
    --flex-weight: 900;
}
.font-hsharp {
    --flex-rond: 0;
    --flex-weight: 900;
}
.font-hwide {
    --flex-slnt: -10;
    --flex-weight: 800;
}

/* colors */
:root { /* epic video https://www.youtube.com/watch?v=_gKEUYarehE  */
  --text-color: #000;
  --text-secondary: #333;
  --primary-color: #ffffff;
  --primary-item: #e9e9e9;
  --accent-primary: #b5e2fa;
  --accent-primary-dim: rgba(181, 226, 250, 0.5);
  --accent-secondary: #EDDEA4;
  --banner: rgb(220,220,220,0.5);
}
.darkmode {
  --text-color: #fff;
  --text-secondary: #ccc;
  --primary-color: #101010;
  --primary-item: #303030;
  --accent-primary: #4791b9;
  --accent-primary-dim: rgba(71, 145, 185, 0.25);
  --accent-secondary: #F7A072;
  --banner: rgba(60,60,60,0.5);
}

/* main */
* {
    margin: 0;
    padding: 0;
}
html {
    font-family: "Google Sans Flex", "NerdFontsSymbols Nerd Font", Arial, sans-serif;
    overflow-x: hidden;
    max-width: 100%;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--primary-color);
    color: var(--text-color);
}
a {
    cursor: pointer;
    text-decoration: none;
    color: var(--text-color);
}

/* across all pages */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: var(--banner);
    backdrop-filter: blur(20px);
    color: var(--text-color);
    top: 0;
    width: 100vw;
    z-index: 999;
}
.header-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    max-width: 1280px;
    padding: 8px 12px;
}
.header-left {
    display: flex;
    align-items: center;
}
.header-left img { 
    height: 50px;
    width: auto;
}
.header-left h2 {
    padding-left: 10px;
}
.header-center {
    display: flex;
    align-items: center;
    position: absolute; 
    left: 50%; 
    top: 26px;
    transform: translateX(-50%); 
    gap: 20px;
}
.header-right {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    gap: 12px;
}
header .hamburger {
    display: none;
}
#themeswitch, #menuswitch {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#themeswitch a:last-child, #menuswitch a:last-child {
    display: none;
}
.darkmode #themeswitch a:first-child {
    display: none;
}
.darkmode #themeswitch a:last-child {
    display: block;
}
#searchbar {
    display: flex;
    justify-content: center;
    padding: 8px 10px;
    gap: 10px;
    border-radius: 100px;
    background-color: var(--primary-color);
}
#searchbar a {
    font-size: 20px;
}
#searchbar input {
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--text-color);
    width: 150px;
}
#searchbar input::placeholder {
    color: var(--text-secondary);
}
#menuswitch {
    display: none;
}

.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1280px;
    padding: 100px 0;
    z-index: 1;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    width: 100%;
    height: 180px;
    background-color: var(--primary-item);
}
.footer-container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    margin: 50px;
}
.footer-left {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 10px;
    flex: 1;
}
.footer-title {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.footer-access {
    padding-top: 20px;
    font-size: 20px;
}
.footer-social a {
    font-size: 30px;
}
.footer-social {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.footer-social img {
    width: 32px;
    height: 32px;
}
.footer-right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    align-items: flex-end;
}
.footer-links {
    display: flex;
    flex-direction: column;
    text-align: right;
    gap: 5px;
}

/* page responsiveness */
@media screen and (max-width: 1080px) {
    #searchbar {
        display: none;
    }
    #menuswitch {
        display: flex;
    }
    footer {
        height: auto;
    }
    .footer-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 20px;
    }
    .footer-social {
        padding: 15px;
    }
    .footer-links {
        text-align: center;
    }
}

@media screen and (max-width: 750px) {
    .header-center {
        display: none;
    }
    #menuswitch a:first-child {
        display: none;
    }
    #menuswitch a:last-child {
        display: block;
    }
}