.page-nav-pill {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    background-color: var(--accent-secondary);
    padding: 10px 20px;
    margin-right: auto;
    gap: 10px;
    border-radius: 100px;
}
.productpage-top, .productpage-mid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 20px;
    gap: 30px;
}
.productpage-low {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin: 20px;
}

.productpage-images {
    display: flex;
    gap: 10px;
}
.productpage-mainimg {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-item);
    width: 500px;
    height: 500px;
    border-radius: 10px;
}
.productpage-subimages {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    height: 100%;
}
.productpage-subimg {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-item);
    width: 150px;
    height: 100%;
    border-radius: 10px;
}
.productpage-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 0 20px;
}
.productpage-maininfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 10px;
    margin-bottom: auto;
}
.productpage-info-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0;
    gap: 10px;
}
.productpage-info-row a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.productpage-detail {
    width: 70%;
}

.productpage-item-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 10px 0;
}

.productpage-sizing, .productpage-returns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.productpage-sizing table {
    border-collapse: separate; 
    border-spacing: 10;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
    background-color: var(--primary-item);
}
.productpage-sizing td {
    padding: 10px;
    border-radius: 8px;
    background-color: var(--primary-color);
}
.productpage-sizing th {
    padding-top: 10px;
    text-align: left;
    font-weight: 200;
}

.productpage-returns p {
    display: flex;
    margin-bottom: auto;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--primary-item);
}

.productpage-reviews {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
}
.productpage-review {
    display: flex;
    flex-wrap: wrap;
    width: 575px;
    background-color: var(--primary-item);
    padding: 10px;
    border-radius: 10px;
}

@media screen and (max-width: 1200px) {
    .productpage-images {
        flex-direction: column;
        gap: 10px;
        margin: 10px;
        width: 100%;
    }
    .productpage-subimages {
        flex-direction: row;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    
}