.page-nav-pill {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    background-color: var(--accent-secondary);
    padding: 10px 20px;
    margin-right: auto;
    gap: 10px;
    border-radius: 100px;
}
.productpage-top, .productpage-mid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 20px;
    gap: 20px;
}
.productpage-low {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    margin: 20px;
}
.productpage-images {
    display: flex;
    gap: 10px;
}
.productpage-mainimg {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-item);
    width: 500px;
    height: 500px;
    border-radius: 10px;
    background-size: cover;
}
.productpage-subimages {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    height: 100%;
}
.productpage-subimg {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-item);
    width: 160px;
    height: 100%;
    border-radius: 10px;
    cursor: pointer;
    background-size: cover;

}
.productpage-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}
.productpage-maininfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    gap: 10px;
    margin-bottom: auto;
}
.productpage-info-row, .productpage-selection-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0;
    gap: 10px;
}
.productpage-info-row a, .productpage-selection-row select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.productpage-selection-row select {
    font-size: 16px;
    appearance: none
}
.productpage-info-row .cartbtn {
    height: 60px;
}
.productpage-info-row .cartbtn p {
    font-size: 25px;
}
.productpage-detail {
    width: 70%;
}
.productpage-item-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 10px 0;
}

.productpage-sizing, .productpage-returns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}
.productpage-sizing table {
    border-collapse: separate; 
    border-spacing: 10;
    border-radius: 10px;
    overflow: hidden;
    padding: 10px;
    background-color: var(--primary-item);
}
.productpage-sizing td {
    padding: 10px;
    border-radius: 8px;
    background-color: var(--primary-color);
}
.productpage-sizing th {
    padding-top: 10px;
    text-align: left;
    font-weight: 200;
}

.productpage-returns p {
    display: flex;
    margin-bottom: auto;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--primary-item);
}

.productpage-reviews {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
    margin-bottom: 15px;
}
.productpage-review {
    display: flex;
    flex-direction: column;
    flex: 1 1 calc(50% - 8px);
    box-sizing: border-box;
    background-color: var(--primary-item);
    padding: 10px;
    border-radius: 10px;
}
.productpage-review-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}
.productpage-review-profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.productpage-review-profile img {
    border: 1px solid var(--text-color);
    border-radius: 100px;
    width: 50px;
}
.productpage-review-body {
    overflow-wrap: anywhere;
}
#reviewstar {
    color: var(--text-color);
}
#reviewstar.active {
    color: var(--accent-secondary);
}

@media screen and (max-width: 1200px) {
    .productpage-top {
        gap: 8px;
    }
    .productpage-mainimg {
        width: 400px;
        height: 400px;
        border-radius: 10px;
        background-color: var(--primary-item);
    }
    .productpage-subimg {
        width: 126px;
        height: 126px;
    }
    .productpage-selection-row {
        flex-direction: row;
    }    
}
@media screen and (max-width: 950px) {
    .productpage-top {
        gap: 10px;
        flex-direction: column;
        justify-content: center;
    }
    .productpage-info {
        width: 100%;
        padding: 0px;
    }
    .productpage-info-row a {
        max-width: 300px;
    }
    .productpage-images {
        width: 100%;
        margin-bottom: 20px;
    }
    .productpage-mainimg {
        width: 75%;
        height: auto;
        aspect-ratio: 1 / 1;
    }
    .productpage-subimages {
        width: 25%;
        height: auto;
    }
    .productpage-subimg {
        width: 100%;
        height: auto;
        aspect-ratio: 1 / 1;
    }
}
@media screen and (max-width: 768px) {
    .productpage-mid, .productpage-low {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .productpage-reviews {
        flex-direction: column;   
    }
}
@media screen and (max-width: 560px) {
    * {
        box-sizing: border-box;
    }
    .productpage-images {
        flex-direction: column;
        align-items: center;
    }
    .productpage-selection-row {
        flex-direction: column;
        align-items: center;
    }
    .productpage-selection-row a {
        max-width: 100%;
    }
    .productpage-mainimg {
        width: 100%;
    }
    .productpage-subimages {
        flex-direction: row;
        width: 100%;
    }
}