.info-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.info-forms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    width: 100%;
}
.issue-form {
    display: flex;
    flex-direction: column; 
    justify-content: left;
    text-align: left;
    max-width: 100%;
    margin: 20px 0;
}
.issue-form a {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .info-title {
        flex-direction: column;
        margin-bottom: 20px;
        gap: 10px;
    }
}